table.container
  tr
    td
      table.row
        tr
          td.wrapper
            table.eight.columns
              tr
                td
                  | !{content}
                td.expander

          td.wrapper.last
            table.four.columns
              tr
                td
                  | &nbsp;
                td.expander