.button
  table(cellpadding='10', cellspacing='0')
    tr
      td(bgcolor='#666666', style='padding:10px 20px; border-radius:50px;')
        div
          b
            a(href='#{action}', target='_blank')
              span #{title}